extends layout

mixin date(timestamp)
  -var date = new Date(timestamp)
  td !{date}

block content
  h1= title
  hr
  -if( match != null ){ 
    table
      tr
        th Id
        th Lane
        th Game
        th Champion
        th Platform id
        th Time
        th Queue
        th Role
      -var cont = 0;
      each data in match.matches
        tr
          - cont++
          td !{cont}
          td !{data.lane}
          td 
            -var link = "/summoners/game/"+data.gameId;
            a(href=link) !{data.gameId}
          td 
            -var link = "/champs/"+data.champion;
            a(href=link) !{data.champion}
          td !{data.platformId}
          +date(data.timestamp)
          td !{data.queue}
          td !{data.role}
    hr
    ul      
      li #[strong End index:] !{match.endIndex}
      li #[strong Start index:] !{match.startIndex}
      li #[strong Total games:] !{match.totalGames}
  -}else{
    p match not found
  -}

block head
  a(href='/') Home
  a(href='/champs') Champions
  a(href='/items') Items
  a.selected(href='/summoners') Summoners
  a(href='#') Faq
  a(href='#') Contact